<div class="row">

	<%= form_for([@gallery, @gallery.pictures.build]) do |f| %>
		<p class="small-5 small-centered columns">
			<%= f.file_field :image, multiple: true, :class => "button round" %>
		</p>
		<!--<p>
			<%= f.label :name %><br />
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :comment %><br />
			<%= f.text_area :comment, :rows => 2 %>
		</p>
		<p>
			<%= f.submit %>
		</p>-->
	<% end %>

</div>